.plans{
    width: 100%;
    position: relative;
    .pricing_component{
        .section{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            .part1{
                position: absolute;
                top:0px;
                .rectangular{
                    width: 220px;
                    h4{
                        font-size: 23px;
                    }
                    span{
                        font-size: 16px;
                    }
                    p{
                        font-size: 30px;
                    }
                    .line{
                        width: 80%;
                    }
                }
                position:relative;
                left: 20px;
            }
            .features{
                height: 100%;
                margin-top: 150px;
            }
        }
        .section-ar{
            .part1{
                position:relative;
                right: 20px;
            }
        }
    }
}


@media only screen and (min-width: 1050px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 240px;
                    }
                }
                .features{
                     margin-top: 150px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 260px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 280px;
                    h4{
                        font-size: 30px;
                    }
                    span{
                        font-size: 20px;
                    }
                    p{
                        font-size: 40px;
                    }
                    .line{
                        width: 90%;
                    }
                    }
                }
                .features{
                    margin-top: 120px;
               }
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 300px;
                    h4{
                        font-size: 33px;
                    }
                    span{
                        font-size: 25px;
                    }
                    p{
                        font-size: 45px;
                    }
                    .line{
                        width: 90%;
                    }
                    }
                }
                .features{
                    margin-top: 90px;
               }
            }
        }
    }
}
@media only screen and (min-width: 1400px){
    .plans{
        .pricing_component{
            .section{
                .features{
                    margin-top: 80px;
               }
            }
        }
    }
}
@media only screen and (min-width: 1500px){
    .plans{
        .pricing_component{
            .section{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .part1{
                    .rectangular{
                        width: 330px;
                    h4{
                        font-size: 36px;
                    }
                    span{
                        font-size: 28px;
                    }
                    p{
                        font-size: 50px;
                    }
                    .line{
                        width: 90%;
                    }
                    }
                }
                .features{
                    margin-top: 60px;
               }
            }
        }
    }
}


@media only screen and (min-width: 1700px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 350px;
                    h4{
                        font-size: 40px;
                    }
                    span{
                        font-size: 30px;
                    }
                    p{
                        font-size: 56px;
                    }
                    .line{
                        width: 90%;
                    }
                    }
                }
                .features{
                    margin-top: 20px;
               }
            }
        }
    }
}


@media only screen and (min-width: 1900px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 400px;
                    h4{
                        font-size: 45px;
                    }
                    span{
                        font-size: 35px;
                    }
                    p{
                        font-size: 60px;
                    }
                    .line{
                        width: 90%;
                    }
                    }
                }
            }
        }
    }
}
 