

.email_marketing{
    width: 100%;

    .section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }
    .part1{
        display: flex;
        align-items: center;
        justify-content: center;
        order:2;
        z-index: 1;
    }

    .features{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        justify-content: center;
        position: absolute;
        left:0px;
        z-index: 11;

        h3{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 39px;
            line-height: 140%;
            color:var(--color5)
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 140%;
            color:var(--color5);
            width: 270px;
            border-bottom: 2px solid var(--color5);
            position: relative;
            height: 80px;
            display: flex;
            align-items: center;
            margin:auto;
        }
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 30px auto 0px auto;
        width: 70%;
        h3{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 39px;
            line-height: 140%;
            color: var(--color5);
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 31px;
            line-height: 140%;
            color:var(--color5);
            text-align: center;
            margin-top: 20px;
        }
        div{
            margin-top: 30px;
        }
    }
}