.plans{
    width: 100%;
    position: relative;
    margin-top: 50px;
    .pricing_component{
        .section{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .part1{
                .rectangular{
                    width: 220px;
                    h4{
                        font-size: 23px;
                    }
                    span{
                        font-size: 16px;
                    }
                    p{
                        font-size: 30px;
                    }
                    img{
                        width: 100%;
                    }
                }
                position:relative;
                left: 20px;
            }
            table{
                thead{
                    tr{
                        th{
                            width:100%;
                            h3{
                                font-size: 30px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        th{
                            font-size: 20px;
                            width: 230px;
                        }
                        td{
                            width: 500px;
                            text-align: center;
                            padding: 20px 0px 0px 0px;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        .section-ar{
            .part1{
                position:relative;
                right: 20px;
            }
        }
        // .section-ar{
        //     .part1{
        //         position:relative;
        //         right: 10%;
        //     }
        // }
    }
}


@media only screen and (min-width: 1100px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 250px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 20px;
                                width: 270px;
                            }
                            td{
                                width: 500px;
                                text-align: center;
                                padding: 20px 0px 0px 0px;
                                font-size: 17px;
                                &.first_data{
                                    padding:20px 0px 0px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1150px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 250px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 20px;
                                width: 290px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 270px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 20px;
                                width: 290px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1250px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 290px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 20px;
                                width: 290px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 290px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 20px;
                                width: 330px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1350px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 300px;
                        h4{
                            font-size: 33px;
                        }
                        span{
                            font-size: 23px;
                        }
                        p{
                            font-size: 40px;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
                table{
                    thead{
                        tr{
                            th{
                                h3{
                                    font-size: 35px;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            th{
                                font-size: 25px;
                                width: 350px;
                            }
                            td{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1350px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 300px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 25px;
                                width: 360px;
                            }
                            td{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1380px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 310px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 25px;
                                width: 350px;
                            }
                            td{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1420px){
    .plans{
        .pricing_component{
            .section{
                .part1{
                    .rectangular{
                        width: 330px;
                    }
                }
                table{
                    tbody{
                        tr{
                            th{
                                font-size: 25px;
                                width: 350px;
                            }
                            td{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}