

.button_{
    button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 15px 17px;
        gap: 10px;
        border: 3px solid var(--color8);
        color: var(--color8);
        flex: none;
        order: 1;
        flex-grow: 0;
        background: none;
        height: 71px;
        border-radius: 10px 0px;
        cursor: pointer;

        span{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        flex: none;
        flex-grow: 0;
        display: grid;
        place-items: center;
        }
        
        .arrow{
            display: none;
        }
        &:hover{
            .arrow{
                display: flex;
            }
        }
    }
}

@media only screen and (max-width:1399px){
    .button_{
        button{
            height: 61px;
            span{
                font-size: 25px;
                line-height: 140%;
                font-weight: 700;
                font-family: 'Almarai';
                font-style: normal;
                color:var(--color2);
                flex: none;
                flex-grow: 0;
                display: grid;
                place-items: center;
            }
        }
    }
}

@media only screen and (max-width:1249px){
    .button_{
        button{
            height: 51px;
            span{
                font-size: 20px;
                line-height: 140%;
                font-weight: 700;
                font-family: 'Almarai';
                font-style: normal;
                color:var(--color2);
                flex: none;
                flex-grow: 0;
                display: grid;
                place-items: center;
            }
        }
    }
}