

.footer{
    margin-top: auto;
    width: 100%;
    padding: 20px;
    
    .head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width:60%;
        margin-top: 20px;

        h3{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 140%;
            margin-bottom: 10px;
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content:center;
            padding: 0px;
        }

        ul li{
            list-style-type: none;
            margin: 3px 0px;

            a{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .media{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;

            a{
                font-size: 30px;
            }
        }
        .copy_right{
            margin-top: 10px;
            span{
                font-family: 'Almarai';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
            }
        }
    }
}


//** Media Query for responsive */
@media only screen and (min-width: 1700px){
    .footer{
        padding: 20px;

        .body{
            h3{
                font-size: 25px;
            }
            ul{
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
        .social{
            .media{
                a{
                    font-size: 36px;
                }
            }
            .copy_right{
                span{
                    font-size: 22px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1370px){
    .footer{
        .logo img{
            width: 150px;
        }
        .body{
            h3{
                font-size: 18px;
            }
            ul{
                li{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        .social{
            .media{
                a{
                    font-size: 25px;
                }
            }
            .copy_right{
                span{
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1140px){
    .footer{
        .logo img{
            width: 140px;
        }
        .head{
            .work_with{
                width: 170px;
                height: 51px;
                padding: 15px 17px;
                span{
                    font-size: 18px;
                }
            }
        }
        .body{
            h3{
                font-size: 20px;
            }
            ul{
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        .social{
            .media{
                a{
                    font-size: 26px;
                }
            }
            .copy_right{
                span{
                    font-size: 18px;
                }
            }
        }
    }
}