

.pricing_component{
    width: 100%;

    .section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: relative;
    }
    .part1{
        display: flex;
        align-items: center;
        justify-content: center;
        order:2;
        z-index: 1;
    }
    .features{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        height: 1000px;
        bottom: 45px;

        h3{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            color:var(--color2);
        }

        .feature{
            height:80px;
            border-bottom: 2px solid #000;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p{
                font-family: 'Almarai';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                color:var(--color2)
            }
        }
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 30px auto 0px auto;
        width: 70%;
        h3{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 140%;
            text-align: center;
            margin-top: 20px;
        }
        div{
            margin-top: 10px;
        }
    }
}

@media only screen and (min-width: 1200px){
    .pricing_component{
        .features{
            position: relative;
            bottom:20px;
            h3{
                font-size: 35px;
            }
            .feature{
                p{
                    font-size: 20px;
                }
            }
        }
    }
}


@media only screen and (min-width: 1300px){
    .pricing_component{
        .features{
            position: relative;
            bottom:0px;
            h3{
                font-size: 40px;
            }
            .feature{
                p{
                    font-size: 23px;
                    padding-top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1500px){
    .pricing_component{
        .features{
            position: relative;
            top:12px;
            h3{
                font-size: 45px;
            }
            .feature{
                p{
                    font-size: 26px;
                    padding-top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1700px){
    .pricing_component{
        .features{
            position: relative;
            top:23px;
            h3{
                font-size: 50px;
            }
            .feature{
                p{
                    font-size: 30px;
                    padding-top: 10px;
                }
            }
        }
    }
}


@media only screen and (min-width: 1900px){
    .pricing_component{
        .features{
            position: relative;
            top:28px;
            h3{
                font-size: 55px;
                margin-bottom: 40px;
            }
            .feature{
                p{
                    font-size: 28px;
                    padding-top: 10px;
                }
            }
        }
    }
}



    // @media only screen and (min-width: 1100px){
    //     .pricing_component{
    //         .section{
    //                 table{
    //                     tbody{
    //                         tr{
    //                             th{
    //                                 width:330px;
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     @media only screen and (min-width: 1150px){
    //         .pricing_component{
    //             .section{
    //                     table{
    //                         tbody{
    //                             tr{
    //                                 th{
    //                                     width:370px;
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }


    //         @media only screen and (min-width: 1200px){
    //             .pricing_component{
    //                 .section{
    //                         table{
    //                             tbody{
    //                                 tr{
    //                                     th{
    //                                         width:430px;
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //             @media only screen and (min-width: 1250px){
    //                 .pricing_component{
    //                     .section{
    //                             table{
    //                                 tbody{
    //                                     tr{
    //                                         th{
    //                                             width:480px;
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }

    //                 @media only screen and (min-width: 1300px){
    //                     .pricing_component{
    //                         .section{
    //                                 table{
    //                                     tbody{
    //                                         tr{
    //                                             th{
    //                                                 width:530px;
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                     @media only screen and (min-width: 1350px){
    //                         .pricing_component{
    //                             .section{
    //                                 width: 100%;
    //                                 display: flex;
    //                                 align-items: center;
    //                                 justify-content:center;
    //                                 position: relative;

    //                                 table{
    //                                     tbody{
    //                                         tr{
    //                                             th{
    //                                                 width:270px;
    //                                                 // text-align: left;
    //                                             }
    //                                             td{
    //                                                 width: 360px;
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                                 }
    //                             }
    //                         }
    //                         @media only screen and (min-width: 1400px){
    //                             .pricing_component{
    //                                 .section{
    //                                     table{
    //                                         tbody{
    //                                             tr{
    //                                                 th{
    //                                                     width:300px;
    //                                                 }
    //                                             }
    //                                             &.body{
    //                                                 tr{
    //                                                     th{
    //                                                         text-align: left;
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                     }
    //                                     }
    //                                 }
    //                             }
    //                             @media only screen and (min-width: 1430px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:320px;
    //                                                     }
    //                                                     td{
    //                                                         width: 355px;
    //                                                     }
    //                                                 }
    //                                                 &.body{
    //                                                     tr{
    //                                                         th{
    //                                                             text-align: left;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }
    //                             @media only screen and (min-width: 1460px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:330px;
    //                                                     }
    //                                                     td{
    //                                                         width: 365px;
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }
    //                             @media only screen and (min-width: 1520px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:350px;
    //                                                     }
    //                                                     td{
    //                                                         width: 370px;
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }
    //                             @media only screen and (min-width: 1570px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:360px;
    //                                                         text-align: left;
    //                                                     }
    //                                                     td{
    //                                                         width: 380px;
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }

    //                             @media only screen and (min-width: 1630px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:390px;
    //                                                     }
    //                                                     td{
    //                                                         width: 390px;
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }

    //                             @media only screen and (min-width: 1700px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:420px;
                                                            
    //                                                     }
    //                                                     td{
    //                                                         width: 390px;
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }
    //                             @media only screen and (min-width: 1750px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:440px;
                                                            
    //                                                     }
    //                                                     td{
    //                                                         width: 400px;
    //                                                     }
    //                                                 }
    //                                                 &.body_ar{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-right:10px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                                 &.body{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-left:10px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }

    //                             @media only screen and (min-width: 1800px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:450px;
                                                            
    //                                                     }
    //                                                     td{
    //                                                         width: 400px;
    //                                                     }
    //                                                 }
    //                                                 &.body_ar{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-right:30px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                                 &.body{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-left:30px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }

    //                             @media only screen and (min-width: 1850px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:470px;
                                                          
    //                                                     }
    //                                                     td{
    //                                                         width: 410px;
    //                                                     }
    //                                                 }
    //                                                 &.body_ar{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-right:20px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                                 &.body{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-left:20px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }

    //                             @media only screen and (min-width: 1900px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:490px;
                                                           
    //                                                     }
    //                                                     td{
    //                                                         width: 410px;
    //                                                     }
    //                                                 }
    //                                                 &.body_ar{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-right:30px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                                 &.body{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-left:30px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }
    //                             @media only screen and (min-width: 1950px){
    //                                 .pricing_component{
    //                                     .section{
    //                                         table{
    //                                             tbody{
    //                                                 tr{
    //                                                     th{
    //                                                         width:520px;
                                                            
    //                                                     }
    //                                                     td{
    //                                                         width: 420px;
    //                                                     }
    //                                                 }
    //                                                 &.body_ar{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-right:20px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                                 &.body{
    //                                                     tr{
    //                                                         td{
    //                                                             padding-left:20px;
    //                                                         }
    //                                                     }
    //                                                 }
    //                                             }
    //                                         }
    //                                         }
    //                                     }
    //                             }














// @media only screen and (min-width: 1550px){
//     .pricing_component{
//         table{
//             tbody{
//                 tr{
//                     td{
//                         width: 420px;
//                         padding-left:80px ;
//                         &.icon{
//                             padding-left: 190px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width: 1600px){
//     .pricing_component{
//         table{
//             tbody{
//                 tr{
//                     td{
//                         width: 430px;
//                         padding-left:80px ;
//                         &.icon{
//                             padding-left: 240px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width: 1650px){
//     .pricing_component{
//         table{
//             tbody{
//                 tr{
//                     td{
//                         width: 440px;
//                         padding-left:80px ;
//                         &.icon{
//                             padding-left: 280px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }