
.card_sub_service{
    width: 321px;
    height: 525px;
    background:var(--color5);
    box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;

    .head{
        img{
            position: absolute;
            left:0px;
            border-radius: 10px 0px 0px 0px;
        }
    }
}