
.card_sub_service{
    width:100%;
    background:var(--color5);
    box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .head{
        .image{
            top:0px;
            position: absolute;
            left:0px;
            border-radius: 10px 0px 0px 0px;
        }
        .image_ar{
            top:0px;
            position: absolute;
            right:-1px;
            border-radius: 10px 0px 0px 0px;
            transform: rotateY(3.142rad);
        }
        .free{
            top:20px;
            position: absolute;
            right:0px;
        }
        .free_ar{
            top:20px;
            position: absolute;
            left:0px;
        }
    }
    .body{
        .title{
            text-align: center;
            margin: 20px auto 0px auto;
            h3{
                font-family: 'Almarai';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                color: var(--color2);
            }
            img{
                position: relative;
                bottom: 15px;
                width: 80%;
                height: 8px;
            }
        }
        p{
            text-align: center;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color:var(--color2);

        }
    }
    .footer_card{
            position: absolute;
            bottom: 20px;
    }
}


@media only screen and (min-width:1270px){
    .card_sub_service{
        .body{
            .title{
                h3{
                    font-size: 30px;
                }
            }
            p{
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width:1270px){
    .card_sub_service{
        .body{
            .title{
                h3{
                    font-size: 30px;
                }
            }
            p{
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width:1500px){
    .card_sub_service{
        .body{
            .title{
                h3{
                    font-size: 36px;
                }
            }
            p{
                font-size: 23px;
            }
        }
    }
}

@media only screen and (min-width:1700px){
    .card_sub_service{
        .body{
            .title{
                h3{
                    font-size: 38px;
                }
            }
            p{
                font-size: 25px;
            }
        }
    }
}